* {
	text-decoration: none;
	list-style-type: none;
}

html,body {
	max-width: 900px;
	margin: 55px auto;
	font-family: 'Lato',Arial, Helvetica, sans-serif;
}

.mainDetails {
	border-bottom: 2px solid #cf8a05;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	border-radius: 50%;
}

#name {
	float: left;
	margin-left: 30px;
}

#name h1 {
	font-size: 50px;
	font-weight: bold;
	color: #181818;
	margin-bottom: -18px;
	font-style: normal;
	font-family: 'Rokkitt', Arial, Helvetica, sans-serif;
}

#name h2 {
	font-size: 40px;
	font-weight: 200;
	margin-left: 3px;
	line-height: 5px;
	font-family: 'Rokkitt', Arial, Helvetica, sans-serif;
}

#contactDetails {
	float: right;
	line-height: 24px;
}

#mainArea h1 {
	font-size: 30px;
	font-weight: 300;
	font-style: italic;
	color: #cf8a05;
	font-family: 'Rokkitt', Arial, Helvetica, sans-serif;
}

#contactDetails a {
	color:#181818;
	font-size: 18px;
}

#headshot, #contactDetails {
	margin: 25px;
}


#profile p{
	margin-top: 20px;
	font-size: 20px;
	max-width: 650px;
}


section{
	border-bottom: 2px solid #f3f3f3;
	padding-bottom: 20px;
}

section:last-of-type {
	border: 0;
}

section h2 {
	font-family: 'Rokkitt', Arial, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 30px;
}

section p {
	font-size: 20px;
	margin: 0px 0 5px 0;
	font-weight: normal;
	color: #444444;
}

.subDetails {
	margin-top: -25px;
	font-size: 16px;
	font-style: oblique;
	color: #444444;	
}

.clear {
	clear: both;
}


.sectionTitle {
	float: left;
	width: 25%;
}

.sectionContent {
	float: right;
	width: 72.5%;
	line-height: 25px;
	font-size: 15px;
	font-weight: 400;
	margin-top: 10px;
}

.keySkills {
	margin: 10px;
	padding: 0;
	color: #444444;
}

.positionLi {
	float: left;
	width: 33.3%;
	font-size: 20px;
}
